body{
    padding: 60px;
    background-color:rgb(0, 28, 54);
    border-radius: 20px;
    border: 3px solid white;
    font-size: 45px;
}
#a{
    color: aliceblue;

}
#b{
    color: rgb(1, 244, 5);
}
#c{
    color: blanchedalmond;
}
#d{
    height: 80px;
    width: 400px;
    border: 1px solid white;
    border-radius: 10px;
     background-color: rgb(1, 244, 5);
     font-size: 40px;
     color: #fbf5f5;
    
}
#e{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}
#f, #g {
    width: 500px;
    height: 100px;
    background-color: rgb(1, 1, 5);
    
    
    display: flex; 
    
   
    justify-content: center; 
    
   
    align-items: center; 
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 18px;
     color: rgb(1, 244, 5);
}
